In [100]:
import numpy as np
import pandas as pd
import requests

In [2]:
startups = pd.read_csv('startups.csv')

In [3]:
startups.head()

,name,city,tagline,description
0,Campus Bubble,Atlanta,Your Academic Identity,Campus Bubble (“CB”) is the Academic Community...
1,DueProps,Atlanta,Gamifying the $46 Billion Employee Incentives ...,t unprecedented ...
2,SalesLoft,Atlanta,Quickly build high-quality prospect lists,build high-quality prospect lists\n
3,The Coca-Cola Company,Atlanta,NaN,Coca-Cola Journey is a digital magazine that f...
4,EarthLink,Atlanta,NaN,NaN

In [20]:
startups.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42038 entries, 0 to 42037
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   name              42034 non-null  object
 1   city              42038 non-null  object
 2   tagline           36730 non-null  object
 3   description       37174 non-null  object
 4   name_unformatted  42034 non-null  object
dtypes: object(5)
memory usage: 1.6+ MB

In [85]:
startups.isna().sum()

name                   4
city                   0
tagline             5308
description         4864
name_unformatted       0
dtype: int64

In [55]:
# I need to strip the name columns of all spaces or extra characters and make them lower case, so that the join can get the most possible matches

startups['name_unformatted'] = startups['name']

In [57]:
for i in range(len(startups['name_unformatted'])):
    startups['name_unformatted'][i] = str(startups['name_unformatted'][i]).lower().replace(' ', '')
    if not startups['name_unformatted'][i].isalnum():
        for char in startups['name_unformatted'][i]:
            if not char.isalnum():
                startups['name_unformatted'][i] = startups['name_unformatted'][i].replace(char, '')

In [58]:
startups.head()

,name,city,tagline,description,name_unformatted
0,Campus Bubble,Atlanta,Your Academic Identity,Campus Bubble (“CB”) is the Academic Community...,campusbubble
1,DueProps,Atlanta,Gamifying the $46 Billion Employee Incentives ...,t unprecedented ...,dueprops
2,SalesLoft,Atlanta,Quickly build high-quality prospect lists,build high-quality prospect lists\n,salesloft
3,The Coca-Cola Company,Atlanta,NaN,Coca-Cola Journey is a digital magazine that f...,thecocacolacompany
4,EarthLink,Atlanta,NaN,NaN,earthlink

In [4]:
companies = pd.read_csv('companies.csv',sep=';')

In [107]:
companies.head()

,Name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,permalink,name_unformatted,current_status
0,#fame,http://livfame.com,Media,10000000,operating,IND,16,Mumbai,Mumbai,1,NaN,05/01/2015,05/01/2015,/organization/-fame,fame,operating
1,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,700000,operating,USA,DE,DE - Other,Delaware City,2,04/09/2014,01/03/2014,14/10/2014,/organization/-qounter,qounter,operating
2,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,3406878,operating,NaN,NaN,NaN,NaN,1,NaN,30/01/2014,30/01/2014,/organization/-the-one-of-them-inc-,theoneoftheminc,operating
3,0-6.com,http://www.0-6.com,Curated Web,2000000,operating,CHN,22,Beijing,Beijing,1,01/01/2007,19/03/2008,19/03/2008,/organization/0-6-com,06com,closed
4,004 Technologies,http://004gmbh.de/en/004-interact,Software,-,operating,USA,IL,"Springfield, Illinois",Champaign,1,01/01/2010,24/07/2014,24/07/2014,/organization/004-technologies,004technologies,closed

In [6]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63215 entries, 0 to 63214
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               63214 non-null  object
 1   homepage_url       59069 non-null  object
 2   category_list      63215 non-null  object
 3   funding_total_usd  63215 non-null  object
 4   status             63215 non-null  object
 5   country_code       57799 non-null  object
 6   state_code         56263 non-null  object
 7   region             56760 non-null  object
 8   city               56762 non-null  object
 9   funding_rounds     63215 non-null  int64
 10  founded_at         49707 non-null  object
 11  first_funding_at   63192 non-null  object
 12  last_funding_at    63215 non-null  object
 13  permalink          63215 non-null  object
dtypes: int64(1), object(13)
memory usage: 6.8+ MB

In [60]:
companies['name_unformatted'] = companies['Name']

In [63]:
for i in range(len(companies['name_unformatted'])):
    companies['name_unformatted'][i] = str(companies['name_unformatted'][i]).lower().replace(' ', '')
    if not companies['name_unformatted'][i].isalnum():
        for char in companies['name_unformatted'][i]:
            if not char.isalnum():
                companies['name_unformatted'][i] = companies['name_unformatted'][i].replace(char, '')

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

In [101]:
companies['current_status'] = companies['status']

In [104]:
type(companies['homepage_url'][0])

str

In [106]:
for i in range(len(companies['homepage_url'])):
    if requests.get(companies['homepage_url'][i]).status_code == 200:
        companies['current_status'][i] = 'operating'
    else:
        companies['current_status'][i] = 'closed' 
        
# r.content.decode('utf-8')

/var/folders/7x/y3pstmxx73nglmqj36qhzblh0000gn/T/ipykernel_64321/3487725412.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  companies['current_status'][i] = 'operating'
/var/folders/7x/y3pstmxx73nglmqj36qhzblh0000gn/T/ipykernel_64321/3487725412.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  companies['current_status'][i] = 'operating'
/var/folders/7x/y3pstmxx73nglmqj36qhzblh0000gn/T/ipykernel_64321/3487725412.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  companies['current_status'][i] = 'operating'
/var/folders/7x/y3pstmxx73nglmqj36qhzblh0000gn/T/ipykernel_64321/3487725412.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  companies['current_status'][i] = 'closed'
/var/folders/7x/y3pstmxx73nglmqj36qhzblh0000gn/T/ipykernel_64321/3487725412.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  companies['current_status'][i] = 'closed'

ConnectionError: HTTPConnectionPool(host='www.01games.hk', port=80): Max retries exceeded with url: / (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x169bf2e90>: Failed to establish a new connection: [Errno 8] nodename nor servname provided, or not known'))

In [108]:
companies['status'].value_counts()

status
operating    50967
acquired      5429
closed        5285
ipo           1534
Name: count, dtype: int64

In [109]:
companies['current_status'].value_counts()

current_status
operating    50965
acquired      5429
closed        5287
ipo           1534
Name: count, dtype: int64

In [73]:
startups_join = startups.join(companies.set_index('name_unformatted'), on='name_unformatted', how='inner', lsuffix='_dataworld', rsuffix='_kaggle')

In [74]:
startups_join.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10622 entries, 0 to 42023
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               10618 non-null  object
 1   city_dataworld     10622 non-null  object
 2   tagline            8200 non-null   object
 3   description        8531 non-null   object
 4   name_unformatted   10622 non-null  object
 5   Name               10618 non-null  object
 6   homepage_url       10495 non-null  object
 7   category_list      10622 non-null  object
 8   funding_total_usd  10622 non-null  object
 9   status             10622 non-null  object
 10  country_code       9997 non-null   object
 11  state_code         9741 non-null   object
 12  region             9911 non-null   object
 13  city_kaggle        9911 non-null   object
 14  funding_rounds     10622 non-null  int64
 15  founded_at         9483 non-null   object
 16  first_funding_at   10615 non-null  object
 17  last_funding_at    10622 non-null  object
 18  permalink          10622 non-null  object
dtypes: int64(1), object(18)
memory usage: 1.6+ MB

In [75]:
startups_join.head()

,name,city_dataworld,tagline,description,name_unformatted,Name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city_kaggle,funding_rounds,founded_at,first_funding_at,last_funding_at,permalink
0,Campus Bubble,Atlanta,Your Academic Identity,Campus Bubble (“CB”) is the Academic Community...,campusbubble,Campus Bubble,http://www.campusbubble.com/,Colleges|Education|Networking|SaaS|Social Medi...,525000,operating,NaN,NaN,NaN,NaN,1,01/03/2012,04/06/2014,04/06/2014,/organization/campus-bubble
1,DueProps,Atlanta,Gamifying the $46 Billion Employee Incentives ...,t unprecedented ...,dueprops,DueProps,http://dueprops.com,Games,200000,operating,USA,GA,Atlanta,Atlanta,1,23/05/2011,01/11/2011,01/11/2011,/organization/dueprops
2,SalesLoft,Atlanta,Quickly build high-quality prospect lists,build high-quality prospect lists\n,salesloft,SalesLoft,http://salesloft.com,B2B|Lead Generation|SaaS|Sales and Marketing|S...,11218000,operating,USA,GA,Atlanta,Atlanta,4,01/10/2011,17/05/2012,01/04/2015,/organization/salesloft
4,EarthLink,Atlanta,NaN,NaN,earthlink,EarthLink,http://www.earthlink.net,Curated Web|Software,23598258,ipo,USA,GA,Atlanta,Atlanta,1,01/01/1994,12/04/2011,12/04/2011,/organization/earthlink
5,REscour,Atlanta,Market intelligence and analytics for commerci...,REscour is a data platform and decision engine...,rescour,REscour,http://www.rescour.com,Commercial Real Estate|Real Estate,2800000,operating,USA,GA,Atlanta,Atlanta,2,01/01/2013,04/03/2015,03/12/2015,/organization/rescour

In [76]:
startups_join = startups_join.reset_index(drop=True)

In [77]:
startups_join.head()

,name,city_dataworld,tagline,description,name_unformatted,Name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city_kaggle,funding_rounds,founded_at,first_funding_at,last_funding_at,permalink
0,Campus Bubble,Atlanta,Your Academic Identity,Campus Bubble (“CB”) is the Academic Community...,campusbubble,Campus Bubble,http://www.campusbubble.com/,Colleges|Education|Networking|SaaS|Social Medi...,525000,operating,NaN,NaN,NaN,NaN,1,01/03/2012,04/06/2014,04/06/2014,/organization/campus-bubble
1,DueProps,Atlanta,Gamifying the $46 Billion Employee Incentives ...,t unprecedented ...,dueprops,DueProps,http://dueprops.com,Games,200000,operating,USA,GA,Atlanta,Atlanta,1,23/05/2011,01/11/2011,01/11/2011,/organization/dueprops
2,SalesLoft,Atlanta,Quickly build high-quality prospect lists,build high-quality prospect lists\n,salesloft,SalesLoft,http://salesloft.com,B2B|Lead Generation|SaaS|Sales and Marketing|S...,11218000,operating,USA,GA,Atlanta,Atlanta,4,01/10/2011,17/05/2012,01/04/2015,/organization/salesloft
3,EarthLink,Atlanta,NaN,NaN,earthlink,EarthLink,http://www.earthlink.net,Curated Web|Software,23598258,ipo,USA,GA,Atlanta,Atlanta,1,01/01/1994,12/04/2011,12/04/2011,/organization/earthlink
4,REscour,Atlanta,Market intelligence and analytics for commerci...,REscour is a data platform and decision engine...,rescour,REscour,http://www.rescour.com,Commercial Real Estate|Real Estate,2800000,operating,USA,GA,Atlanta,Atlanta,2,01/01/2013,04/03/2015,03/12/2015,/organization/rescour

In [78]:
startups_join.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10622 entries, 0 to 10621
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               10618 non-null  object
 1   city_dataworld     10622 non-null  object
 2   tagline            8200 non-null   object
 3   description        8531 non-null   object
 4   name_unformatted   10622 non-null  object
 5   Name               10618 non-null  object
 6   homepage_url       10495 non-null  object
 7   category_list      10622 non-null  object
 8   funding_total_usd  10622 non-null  object
 9   status             10622 non-null  object
 10  country_code       9997 non-null   object
 11  state_code         9741 non-null   object
 12  region             9911 non-null   object
 13  city_kaggle        9911 non-null   object
 14  funding_rounds     10622 non-null  int64
 15  founded_at         9483 non-null   object
 16  first_funding_at   10615 non-null  object
 17  last_funding_at    10622 non-null  object
 18  permalink          10622 non-null  object
dtypes: int64(1), object(18)
memory usage: 1.5+ MB

In [79]:
startups_join.to_csv('startups_join.csv')

In [81]:
startups_join.isna().sum()

name                    4
city_dataworld          0
tagline              2422
description          2091
name_unformatted        0
Name                    4
homepage_url          127
category_list           0
funding_total_usd       0
status                  0
country_code          625
state_code            881
region                711
city_kaggle           711
funding_rounds          0
founded_at           1139
first_funding_at        7
last_funding_at         0
permalink               0
dtype: int64

In [82]:
copy = startups_join

In [87]:
copy = copy.dropna()

In [94]:
copy.head()

,name,city_dataworld,tagline,description,name_unformatted,Name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city_kaggle,funding_rounds,founded_at,first_funding_at,last_funding_at,permalink
1,DueProps,Atlanta,Gamifying the $46 Billion Employee Incentives ...,t unprecedented ...,dueprops,DueProps,http://dueprops.com,Games,200000,operating,USA,GA,Atlanta,Atlanta,1,23/05/2011,01/11/2011,01/11/2011,/organization/dueprops
2,SalesLoft,Atlanta,Quickly build high-quality prospect lists,build high-quality prospect lists\n,salesloft,SalesLoft,http://salesloft.com,B2B|Lead Generation|SaaS|Sales and Marketing|S...,11218000,operating,USA,GA,Atlanta,Atlanta,4,01/10/2011,17/05/2012,01/04/2015,/organization/salesloft
4,REscour,Atlanta,Market intelligence and analytics for commerci...,REscour is a data platform and decision engine...,rescour,REscour,http://www.rescour.com,Commercial Real Estate|Real Estate,2800000,operating,USA,GA,Atlanta,Atlanta,2,01/01/2013,04/03/2015,03/12/2015,/organization/rescour
5,viaCycle,Atlanta,"Zipcar for bicycles. Call or text, unlock, and...",viaCycle creates bicycle sharing technology th...,viacycle,viaCycle,http://www.viacycle.com,Hardware + Software|Mobile|Mobility|Transporta...,-,closed,USA,GA,Atlanta,Atlanta,1,01/05/2010,01/06/2012,01/06/2012,/organization/viacycle
7,OpenStudy,Atlanta,Social Learning for Open Courses,rovides real-time study communities for over 4...,openstudy,OpenStudy,http://www.openstudy.com,Education,1270000,operating,USA,GA,Atlanta,Atlanta,1,01/11/2008,01/01/2008,01/01/2008,/organization/openstudy

In [97]:
copy['last_funding_at'].describe()

count           6504
unique          1487
top       01/01/2014
freq              66
Name: last_funding_at, dtype: object